
[submodule "flame_ros"]
	path = flame_ros
	url = https://github.com/danigr99727/flame_ros

[submodule "FUEL"]
	path = FUEL
	url = https://github.com/danigr99727/FUEL

[submodule "tdnet_nyud"]
	path = tdnet_nyud
	url = https://github.com/danigr99727/tdnet_nyud
