[submodule "flame_ros"]
	path = src/flame_ros
	url = https://github.com/danigr99727/flame_ros

[submodule "FUEL"]
	path = src/FUEL
	url = https://github.com/danigr99727/FUEL

[submodule "tdnet_nyud"]
	path = src/tdnet_nyud
	url = https://github.com/danigr99727/tdnet_nyud

[submodule "third_party/AirSim"]
	path = third_party/AirSim
	url = https://github.com/microsoft/AirSim/

[submodule "third_party/flame"]
	path = third_party/flame
	url = https://github.com/danigr99727/flame

[submodule "third_party/ORB_SLAM2_CUDA"]
	path = third_party/ORB_SLAM2_CUDA
	url = https://github.com/danigr99727/ORB_SLAM2_CUDA

[submodule "src/gscam"]
	path = src/gscam
	url = https://github.com/ros-drivers/gscam

[submodule "src/image_pipeline"]
	path = src/image_pipeline
	url = https://github.com/ros-perception/image_pipeline

[submodule "third_party/opencv_contrib"]
	path = third_party/opencv_contrib
	url = https://github.com/opencv/opencv_contrib
[submodule "third_party/opencv"]
	path = third_party/opencv
	url = https://github.com/opencv/opencv
[submodule "src/graph_rviz_plugin"]
	path = src/graph_rviz_plugin
	url = https://gitlab.com/InstitutMaupertuis/graph_rviz_plugin
[submodule "third_party/Pangolin"]
	path = third_party/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin
[submodule "third_party/cuda-samples"]
	path = third_party/cuda-samples
	url = https://github.com/NVIDIA/cuda-samples
